:root {
    --backgroud-color: rgb(30, 30, 30);
    --elements-bg-color: rgb(60, 60, 60);
    --default-color: white;
    --default-height: 30px;
    --margin: 10px
}

html, body {
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroud-color);
    color: var(--elements-bg-color);
    overflow: hidden;
}

#bar {
    display: flex;
    flex-direction: row;

    .bar-button {
        color: var(--default-color);
        background-color: var(--elements-bg-color);
        margin: var(--margin);
        height: var(--default-height);
        width: 100px;
    }
}

#filesystem-address {
    display: flex;
    flex-direction: row;
    margin: var(--margin);
    background-color: inherit;
    height: var(--default-height);
}

#filesystem-address-button {
    color: var(--default-color);
    background-color: var(--elements-bg-color);
    width: 50px;
    margin-right: var(--margin);
}

#filesystem-address-line {
    flex: 2;
    background-color: var(--backgroud-color);
    border-color: var(--default-color);
    color: var(--default-color);
    margin-right: var(--margin);
}

#filesystem-find-line {
    flex: 1;
    background-color: var(--backgroud-color);
    border-color: var(--default-color);
    color: var(--default-color);
}

#filesystem-explorer {
    background-color: var(--backgroud-color);
    color: var(--default-color);
    margin: 20px;
    box-shadow: -2px 0 0 gray;
    overflow-y: auto;
    overflow-x: hidden;

}
#filesystem-explorer table {
    border-spacing: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#filesystem-explorer table thead th {
    background-color: var(--backgroud-color);
    border-color: var(--default-color);
    text-align: start;
    border-right: 1px solid;
    padding-left: 1em;
    padding-right: 1em;
    position: sticky;
    top: 0;
    height: var(--default-height);
    resize: horizontal;
    overflow: auto;
}

#filesystem-explorer td {
    text-align: start;
    padding-left: 1em;
    overflow: hidden;
    height: var(--default-height);
}

#filesystem-explorer table tbody tr:hover {
    background-color: '#3c3c3c';
}