:root {
    --backgroud-color: rgb(30, 30, 30);
    --elements-bg-color: rgba(60, 60, 60, 1);
    --default-color: white;
    --default-height: 30px;
    --margin: 10px
}

html,
body {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroud-color);
    color: var(--elements-bg-color);
    overflow: hidden;
}

#bar {
    display: flex;
    flex-direction: row;
    box-shadow: 0px;
    padding-top: var(--margin);
    padding-left: var(--margin);
    padding-bottom: var(--margin);
    margin-bottom: var(--margin);
    background-color: rgb(45, 45, 45);
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px 1px solid gray;

    .bar-text-button {
        display: flex;
        align-items: center;
        gap: var(--margin);
        color: var(--default-color);
        background-color: inherit;
        height: var(--default-height);
        width: 110px;
        height: 40px;
        border: none;
        border-color: var(--default-color);
        border-right: 1px solid;
    }

    .bar-text-button:hover {
        background-color: var(--elements-bg-color);
    }

    .bar-symbol-button {
        color: var(--default-color);
        background-color: inherit;
        height: var(--default-height);
        width: 40px;
        height: 40px;
        border: none;
    }

    .bar-symbol-button:hover {
        background-color: var(--elements-bg-color);
    }
}

#filesystem-address {
    display: flex;
    flex-direction: row;
    margin: var(--margin);
    background-color: inherit;
    height: var(--default-height);
}

#filesystem-address-button {
    color: var(--default-color);
    background-color: var(--backgroud-color);
    width: 30px;
    height: var(--default-height);
    margin-right: var(--margin);
    border: none;

    :hover {
        background-color: var(--elements-bg-color);
    }
}

#filesystem-address-line {
    flex: 2;
    background-color: var(--backgroud-color);
    border-color: var(--default-color);
    color: var(--default-color);
    margin-right: var(--margin);
    border: 1px solid;
}

#filesystem-find-line {
    flex: 1;
    background-color: var(--backgroud-color);
    border-color: var(--default-color);
    color: var(--default-color);
    border: 1px solid;
}

#filesystem-explorer {
    background-color: var(--backgroud-color);
    color: var(--default-color);
    margin: 20px;
    box-shadow: -2px 0 0 gray;
    overflow-y: auto;
    overflow-x: hidden;
}

#filesystem-explorer table {
    border-spacing: 0;
    white-space: nowrap;
}

#filesystem-explorer table thead th {
    background-color: var(--backgroud-color);
    border-color: var(--default-color);
    text-align: start;
    border-right: 1px solid;
    padding-left: 1em;
    padding-right: 1em;
    position: sticky;
    top: 0;
    height: var(--default-height);
    resize: horizontal;
    overflow: auto;
}

#filesystem-explorer table td {
    text-align: start;
    padding-left: 1em;
    overflow: hidden;
    height: var(--default-height);
    max-width: 0;
    text-overflow: ellipsis;
}

#filesystem-explorer table td:last-child {
    text-align: end;
    padding-left: 0;
    padding-right: 1em;
}

#filesystem-explorer table tr:hover td {
    background-color: var(--elements-bg-color);
}

#filesystem-explorer table tr:focus td {
    background-color: rgba(90, 90, 90, 1);
}